html, body, #preview {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#preview {
  background: black;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}

svg > * {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
